{% extends 'adminNav.html' %}
{% block content %}
{% load static %}

<style>
    .content {
        padding: 20px;
        text-align: center;
    }


    .firstimg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .firstimg img {
        max-width: 90%;
        margin-left:100px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 768px) {
        .content {
            margin-left: 0;
            padding: 10px;
        }

        .contenth1 h1 {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 480px) {
        .contenth1 h1 {
            font-size: 1.2rem;
            padding: 10px;
        }

        .firstimg img {
            max-width: 90%;
        }
    }

    @media (min-width:576px) {    
             .carrd{
               margin-left:220px;
               margin-top:60px;
               overflow-x: hidden;
             }
             .align{
              margin-left: 280px;
             }
          }

</style>

<body>

    <!-- <div class="container justify-content-center align-items-center vh-100 pt-5">
        <div class="container">
            {% for message in messages %}
            <h4>
                <div class="alert alert-success mt-5">
                    {{ message }}
                </div>
            </h4>
            {% endfor %}
        </div>     -->

    <div class="content">
        <div class="firstimg">
            <img src="{% static 'images/admin.jpg' %}" alt="Admin Home" class="img-fluid">
        </div>
    </div>


</body>

{% endblock %}
