{% extends 'adminNav.html' %}
{% block content %}
{% load static %}

<style>
    body {
        background-image: url("{% static 'images/backimg.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #00000065;
        background-blend-mode: overlay;
    }

    .course-container {
            max-width: 900px;
            margin: 40px auto;
            padding: 20px;
            background-color: #efe3e3;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        label{
            color: rgb(131 39 41);
        }
        .btn-custom {
            background-color: rgb(131 39 41);
            color: rgb(255, 255, 255);
            border: none;
            width: 100%;
            font-weight: bold;
        }

        .btn-custom:hover {
            background-color: rgb(177, 53, 55);
            color: rgb(255, 255, 255);
        }

        .form-group label {
            font-weight: 500;
        }

        .alert {
            max-width: 900px;
            margin: 0 auto 20px;
            padding: 10px 20px;
            position: relative;
            background-color: #efe3e3c9;
            color: rgb(131 39 41);
            border: 1px solid #c3e6cb;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }


</style>

<body>

     <div class="container justify-content-center align-items-center vh-100 pt-5">
        <div class="container">
            {% for message in messages %}
            <h4>
                <div class="alert alert-success mt-5">
                    {{ message }}
                </div>
            </h4>
            {% endfor %}
        </div> 

    <div class="course-container">
            <h1 class="text-center" style="color: rgb(131 39 41);">Add Products</h1>
            <form action="{% url 'edit_products' products.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>Enter Product Name</label>
                    <input type="text" class="form-control" name="pname" placeholder="Enter product name" value="{{ products.Product_name }}">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="desc" placeholder="Enter Description">{{ products.Description }}</textarea>
                </div>
                <div class="form-group">
                    <label>Enter Price</label>
                    <input type="text" class="form-control" name="price" placeholder="Enter price" value="{{ products.Price }}">
                </div>
                <div class="form-group">
                    <label>Categories</label>
                    <select name="categories" class="form-control">
                        <option>Select Category</option>
                        {% for i in category %}
                            {% if i.id == products.Category.id %}
                                <option value="{{ i.id }}" selected>{{ i.Category }}</option>
                            {% else %}
                                <option value="{{ i.id }}">{{ i.Category }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <img src="{{ products.Product_image.url }}" width="100px">
                    <input type="file" class="form-control" name="img">
                </div>
                <button type="submit" class="btn btn-custom mt-3">Submit</button>
            </form>
            
        </div>
    </div>


</body>

{% endblock %}
